#projects-section {
  margin-top: 10px;
  height: calc(100% - 20px);
}

#projects-container {
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  width: 430px;
  height: calc(100vh - 40px);
}

.position-bar {
  display: flex;
  flex-direction: row;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  font-weight: 700;
}

.position-title {
  flex: 1;
  text-align: left;
}

.position-duration {
  flex: 1;
  text-align: right;
}

.paragraph,
.activities-paragraph {
  background-color: #f6eca9;
  color: #11235a;
  margin-top: 10px;
  border-style: solid;
  border-radius: 25px;
  margin-left: 10px;
  width: 380px;
  padding: 10px;
}

.activities-paragraph-container:hover {
  cursor: pointer;
}

.paragraph-points {
  text-align: center;
  margin-top: 5px;
  font-size: large;
}

.paragraph-text {
  margin-top: 5px;
  font-size: large;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.paragraph-title {
  margin-top: 5px;
  padding-bottom: 0px;
  font-size: large;
  font-weight: 900;
  text-align: center;
}

.paragraph-link {
  text-align: left;
}

.point-element {
  text-align: left;
}
