/*Colors: https://colorhunt.co/palette/11235a596fb7c6cf9bf6eca9*/
body {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #f6eca9;
  background-color: #596fb7;

  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap when needed */
  justify-content: space-around;
}

#portfolio-title {
  text-align: center;
  margin-top: 10px;
  width: 400px;
  font-size: xx-large;
}

#main-container {
  width: 30%;
  margin-top: 10px;
  height: calc(100% - 20px);
}

#activities-container {
  float: left;
  margin-left: calc((100% - 1200px) / 4);
  width: 30%;
  margin-top: 10px;
  height: calc(100% - 20px);
}

.subsection {
  background-color: #11235a;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  margin-left: 100px;
  height: auto;
  padding-top: 5px;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 5px;
}

.section-title {
  background-color: #11235a;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: auto;
  padding-top: 5px;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 5px;
}

#my-picture {
  width: 200px;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .body {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the items */
  }

  #main-container {
    width: 80%; /* Each box takes up 80% of the container width on narrow screens */
  }

  #projects-section {
    width: 80%;
  }

  #activities-container {
    width: 80%;
  }
}
