/*Colors: https://colorhunt.co/palette/11235a596fb7c6cf9bf6eca9*/
body {
  font-family: "Lusitana", sans-serif;
  font-weight: 500;
  font-style: normal;

  color: #f6eca9;
  background-color: #596fb7;

  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
}

#portfolio-title {
  background-color: #11235a;
  text-align: center;
  margin-top: 10px;
  width: 400px;
  font-size: xx-large;
  border-color: #f6eca9;
  color: #f6eca9;
}

#main-container {
  width: 430px;
  margin: 10px;
  height: calc(100% - 20px);
}

.subsection {
  background-color: #11235a;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  margin-left: 100px;
  height: auto;
  padding-top: 5px;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 5px;
}

.section-title {
  background-color: #596fb7;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: auto;
  margin-left: 10px;
  padding-top: 5px;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 5px;
  border-color: #f6eca9;
  color: #f6eca9;
}

#my-picture {
  width: 200px;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 20px;
}

#activities-container {
  margin: 20px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  height: 680px;
  width: 430px;
}

@media (max-width: 1000px) {
  .body {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the items */
    justify-content: center; /* Center items horizontally */
  }

  #main-container {
    width: 100%; /* Each box takes up 80% of the container width on narrow screens */
  }

  #projects-section {
    width: 100%;
  }

  #activities-container {
    width: 100%;
  }
}
