#text {
    float:right;
    border-style: groove;
    margin-top: 20px;
    border-color: #B6BBC4;
    width: 50%;
    border-radius:20px;
    background-color:#F0ECE5;
    text-align: center;
    margin-right:25%;
    font-size:larger;
    
}

#headers{
    float:right;

    color:#F0ECE5; 
    
    text-align:center;

    margin-top:20px;
    margin-right:33%;
    width: 500px;
}

#navHeaders {
    float:left;
    color:#F0ECE5; 
    margin-top:20px;   
    margin-left:50px; 
}

p {
    margin-left:15px;
    margin-right:5px;
    width:fit-content
}

#nav {
    border-style:solid;
    border-color:#B6BBC4;
    border-radius:20px;
    border-width:5px;
    float:left;
    margin-top:95px;
    margin-left:4%;
    width:15%;

    height: 300px;
}

#basicText {
    color:#F0ECE5; 
    font-size:larger;
}

#basicDiv {
    border-style:solid;
    border-color:#B6BBC4;
    border-radius:20px;
    border-width:5px;
    background-color:#F0ECE5;
}