header {
    text-align: center;
    border-style:solid; 
    border-width: thick; 
    border-color: #B6BBC4;
    border-radius: 20px;

    background-color:#F0ECE5;

}


body {
    font-family: Georgia, serif;

    background-color:#31304D;
    color:#161A30;
    
}

#nav {
    margin-top: 20px;
    text-align: center;
    border-style: dashed;
    border-color: #B6BBC4;
    border-width: 5px;
    border-radius: 20px;
    background-color:#F0ECE5;
    height:150px;

    width:500px;
    margin-left:33%;
    margin-right:33%;
}



#hooperSection {
    float:left;
    border-style: groove;
    margin-top: 20px;
    border-color: #B6BBC4;
    width: 45%;
    border-radius:20px;
    background-color:#F0ECE5;
    text-align: center;
    margin-left:20px;
    height:400px;
}

#zeihanSection {
    margin-top: 20px;
    float: right;
    border-style:groove;
    margin-left: 30px;
    border-color: #B6BBC4;
    width: 45%;
    border-radius:20px;
    background-color:#F0ECE5;
    text-align: center;
    margin-right: 20px;
    height:400px;
}

#img {
    border-style:solid;
    border-color:#B6BBC4;
    border-radius:20px;
    border-width:5px"
}

#summary {

    border-style:solid;
    border-color:#B6BBC4;
    border-radius:20px;
    border-width:5px;

    margin-top: 20px;
    text-align: center;
    margin-left:20px;
    color:#F0ECE5;

}

#header {
    text-align:Center;
    color:#F0ECE5;
}

